<!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Yoshlar Texnopark</span></strong>
    </div>
    <div class="credits">
      Sayt muallifi <a href="http://myurls.co/islom_karimov">Islom Karimov</a>
    </div>
  </footer><!-- End Footer -->