<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav pb-5">

      <li class="nav-item mt-4">
        <a class="nav-link collapsed" href="/admin">
          <i class="bi bi-grid"></i>
          <span>Loyiha rasmlari</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/pages/headers">
          <i class="bi bi-card-list"></i>
          <span>Sahifa headerlari</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/about">
          <i class="ri-align-center"></i>
          <span>Biz haqimizda</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/location">
          <i class="ri-map-pin-line"></i>
          <span>Location</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="/admin/contact">
          <i class="bi bi-envelope"></i>
          <span>Xatlar</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item">
        <form action="/auth/logout" method="post">
          <button class="btn btn-sm btn-outline-danger ml-3 mt-3">
            <i class="bi bi-box-arrow-in-right"></i>
            <span>Chiqish</span>
          </button>
        </form>
      </li><!-- End Login Page Nav -->
    </ul>

  </aside><!-- End Sidebar-->