<footer>
    <!-- Footer Start-->
    <div class="footer-area footer-padding footer-bg" data-background="assets/img/service/footer_bg.jpg">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-4 col-lg-3 col-md-5 col-sm-6">
                    <div class="single-footer-caption mb-50">
                        <div class="single-footer-caption mb-30">
                            <!-- logo -->
                            <div class="footer-logo">
                                <a href="/"><img style="max-width:230px"
                                        src="https://buxyt.uz/wp-content/uploads/2023/09/new-logo.png" alt=""></a>
                            </div>
                            <div class="footer-tittle">
                                <div class="footer-pera">
                                    <p>Yoshlar texnoparki - g'oyadan tayyor innovatsion mahsulotgacha siz bilan birga.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-5">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Sahifalar</h4>
                            <ul>
                                <li><a href="/">Bosh sahifa</a></li>
                                <li><a href="/about">Biz haqimizda</a></li>
                                <li><a href="/resource">Yoshlar texnoparki loyihasi</a></li>
                                <li><a href="/contact">Aloqalar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                    <div class="single-footer-caption mb-50">
                        <div class="footer-tittle">
                            <h4>Bog'lanish</h4>
                            <ul>
                                <li><a href="#">+998914475252</a></li>
                                <li><a href="#">info@buxyt.uz</a></li>
                                <li><a href="#">Sayt yaratish - voit.agency</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End-->
</footer>